swiper-container {
     width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
  }

  .swiper_movie-name{
    position: absolute;
    font-family: inherit;
    font-size: 1.1rem;
    bottom: 3.5rem;
    margin-left: 1rem;
    left: 0;
    z-index: 3;
    color: rgba(255, 255, 255, 0.692);
  }

  .swiper_movie-rating {
    position: absolute;
    font-family: inherit;
    font-size: .9rem;
    bottom: 1.5rem;
    margin-left: 1rem;
    left: 0;
    z-index: 3;
    color: white;
  }
  .swiper_movie-rating::before {
    content: url(../img/main/swiper/star.svg);
    align-self: center;
  }


  .swiper_movie-genre {
    position: absolute;
    font-family: inherit;
    font-size: .8rem;
    bottom: 1.5rem;
    margin-left: 4rem;
    left: 0;
    z-index: 3;
    color: rgba(255, 255, 255, 0.692);
  }
  
  swiper-slide img {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  swiper-slide::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%);
  }

 .swiper-pagination{
    bottom: 8;
  }